<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Login Box Concept</title>
  
  
  <link rel='stylesheet' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="stylesheets/LogInStyle.css">
  <script src="js/validationsLogIn.js"></script>
  
</head>

<body>
  <form action="#" th:action="@{/loginUsuario}" th:object="${usuario}" method="post">   
    <div class='login'>
        <img class="img-logo" src="images/Asset 3Aventurous Logo.png" alt="foto" height="80px">
        <img class="img-circle " src="images/Asset 2Aventurous Font.png" alt="foto" width="100px" >

      <div class='login_title'>
        <span>Login to your account</span>
      </div>

      <div class="login-form">
          <div class="sign-in-htm">
              <div class="group">
                  <label for="user" class="label">Username</label>
                  <input id="user" type="text" class="input" th:field="*{username}">
              </div>
            <div class="group">
              <label for="pass" class="label">Password</label>
              <input id="pass" type="password" class="input" data-type="password" th:field="*{contrasena}">
            </div>
            <div class="group">
              <input id="check" type="checkbox" class="check" name="rememberMe" checked>
              <label for="check"><span class="icon"></span> Keep me Signed in</label>
            </div>
          </div>

        <div class='login_fields__submit'>
          <input id="submitIt" type='submit' value='Log In'>
          <div class='forgot'>
            <a href='#'>Forgotten password?</a>
          </div>
        </div>

      </div>

    </div>
  </form>
  
<script>
    function validateForm() {
        var x = document.forms["myForm"]["fname"].value;
        if (x == "") {
            alert("Name must be filled out");
            return false;
        }
    }
</script>




</body>

</html>
