<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>     
<title>Nuevo usuario</title>     
<meta http-equiv="Content-Type"        
content="text/html; charset=UTF-8" />   
</head>   
    <body>     
        <form action="#" th:action="@{/setUser}"        
        th:object="${user}" method="post">       
        <p>Nombre:          
        <input type="text" th:field="*{name}" /></p>       
        <p>Edad:          
        <input type="number" th:field="*{age}" /></p>       
        <p>         
        <input type="submit" value="Registrar" /></p>     
        </form>   
    </body> 
</html>