<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Login Box Concept</title>
  
  
  <link rel='stylesheet' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="stylesheets/LogInStyle.css">
  <link rel="stylesheet" href="stylesheets/SignInStyle.css">
  <script src="js/validationSignIn.js"></script>
  
</head>

<body>
    <form enctype="multipart/form-data" action="#" th:action="@{/registarUsuario}" th:object="${usuario}" method="post">     
        <div class='login'>
            <img id="photo" class="img-circle" src="images/DSC_0040.JPG" alt="foto" width="30px" >

        <div class='login_title'>
            <span>Login to your account</span>
        </div>

        <div class="login-form">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="name" class="label">Name</label>
                            <input id="name" type="text" class="input" th:field="*{nombreUsuario}">
                        </div>
                        <div class="group">
                            <label for="sname" class="label">Second Name</label>
                            <input id="sname" type="text" class="input" th:field="*{apellido}">
                        </div>
                        <div class="group">
                                <label for="email" class="label">Email</label>
                                <input id="email" type="email" class="input" th:field="*{correo}">
                        </div>
                        <div class="group">
                                <label for="user" class="label">Username</label>
                                <input id="user" type="text" class="input"th:field="*{username}">
                            </div>
                        <div class="group">
                                <label for="pass" class="label">Password</label>
                                <input id="pass" type="password" class="input" data-type="password" th:field="*{contrasena}">
                            </div>
                        <div class="group">
                            <label for="cel" class="label">Cellphone</label>
                            <input id="cel" type="text" class="input" data-type="input" th:field="*{telefono}">
                        </div>                  
                        <div class="group">
                                <label for="addr" class="label">Home Address</label>
                                <input id="addr" type="text" class="input" data-type="input" th:field="*{direccion}">
                        </div> 
                        <div class="group">
                                <label for="img3" class="label">Avatar Image</label>
                                <input id="img3" type="file" class="input" data-type="input" name="image_avatar">
                        </div> 
                        <div class="group">
                                <label for="img2" class="label">Front Image</label>
                                <input id="img2" type="file" class="input" data-type="input" name="image_front">
                        </div> 

                        <div class="group">
                            <input id="check" type="checkbox" class="check" checked>
                            <label for="check"><span class="icon"></span> Keep me Signed in</label>
                        </div>
                        

                    </div>
            <div class='login_fields__submit'>
            <input id="submitIt" type='submit' value='Log In'>
            <div class='forgot'>
                <a href='#'>Forgotten password?</a>
            </div>
            </div>
        </div>
    </form>   
    
    <script>
        function validateForm() {
            var x = document.forms["myForm"]["fname"].value;
            if (x == "") {
                alert("Name must be filled out");
                return false;
            }
        }
    </script>




</body>

</html>
